
.imgs{
  width: 50px;
  height: 45px;
}
.topnav{
  display: flex;
  background-color: black;
  justify-content: space-between;
  margin-left: 4%;
  margin-right: 4%;
}
.pizz{
  font-size: 18px;
  font-weight: 700px;
  color: white;
  text-decoration: none;
  text-align: center;
  margin-top: 10px;
  }
.othermenu{
  text-decoration: none;
  color: white;
  font-size: 15px;
}
.menu_content{
  display: flex;
  gap:35px;
  align-items: center;
}
.img_menubar{
  display: none;
}


.craving{
  background-image: url(images/pizza1\ 1.png);
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  height: 100%;
  }
  .crav-sec{
    background: rgba(0, 0, 0, 0.5);
  }
.craving_head{
  font-size: 102px;
  width: 70%;
  padding-top: 10%;
  color: #FFFFFF;
  font-weight: 600;
  letter-spacing: 5px;
  padding-left: 7%;
}
.craving_para{
  width: 44%;
  height: 325px;
  padding-top:4%;
  font-size: 23px;
  color: #FFFFFF;
  margin-left: 7%;
}

.line{
  width: 44%;
  height: 13px;
  background-color: red;
  border: none;
  margin-top: 4%;
  margin-left: 7%;
}
.full{
  background-color: black;
  margin: 0;
 }
.about{
  color: #FFFFFF;
  font-size: 60px;
  font-weight: 400;
  text-align: center;
  margin-top: 5%;
}
.about_line{
  width: 35%;
  height: 10px;
  background-color:#B62828;
  border: none;
  margin-left: auto;
  margin-right: auto;
}
.about_text_info{
  margin-left: 7%;
  margin-right: 7%;
}

.above_line{
  width: 48%;
  height: 4px;
  background-color: #F24C4C;
  border: none;
  margin-top: 15%;
}
.about_text{
  color: #FFFFFF;
  font-size: 23px;
  width: 57%;
  margin-top: 10px;
}
.dough{
  width: 37%;
  margin-top: -25px;
}

.about_info{
  display: flex;
  justify-content: space-between;
}

.menu_text{
  color: white;
  margin-top: 40px;
  font-size: 25px;
  line-height: 33px;
  margin-left: 7%;
  margin-right: 7%;
  text-align: justify;
  margin-bottom: 8%;
}

.pizza{
  text-decoration: none;
  color: white;
}

.menu-list1{
  display: flex;
  gap: 20px;
}
.menu-list2{
  display: flex;
  gap: 20px;
}

.pizza-img1{
  width: 50%;
  border-style: solid;
  border-radius: 10px;
}

.menu-head{
  font-size: 25px;
  color: #F2C94C;
  font-family: ruda;
  margin-top: 10px;
}
.menu-para{
  color: white;
  font-size: 13px;
  line-height: 20px;
  margin-top:10px;
}

.menu-list{
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  gap: 50px;
  margin-left: 7%;
  margin-right: 7%;
}


.carsimg{
 width: 84%;
 height: 500px;
 margin-top: 5%;
 margin-left: 7%;
 margin-right: 7%;
}
.carousel-control-prev{
  margin-left: -20px;
}
.carousel-control-next{
  margin-right: 0px;
}

.gallary{
  display: flex;
  margin-top: 5%;
  margin-left: 7%;
  margin-right: 7%;
  gap: 15px;
}
.gallery-2{
 display: flex;
 flex-direction: column;
 gap: 10px;
}
.gallary-img1{
  width: 100%;
  height: 410px;
  border-radius: 10px;
  opacity: 0px;
}
.gallary-img2{
  width: 100%;
  height: 130px;
  border-radius: 10px;
}
.gallary-3{
  display: flex;
  flex-direction: column;
  gap:10px;
}
.gallary-img3{
  width: 90%;
  height: 199px;
  border-radius:10px;
  opacity: 0px;
}

.Find-location{
  display: flex;
  justify-content: space-between;
  gap: 10%;
  margin-left: 7%;
  margin-right: 7%;
  margin-top: 5%;
}
.location-info{
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
}
.map{
  width: 100%;
  border: 1px solid #000000
}
.location-Adrs{
  display: flex;
  gap: 20px;
}
.Address{
  font-size: 13px;
  font-weight: 700;
  color:#FFFFFF;
  margin-top:20px;
}

.location{
  width: 71px;
  height: 67px; 
}
.number1{
  font-size: 20px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.09em;
  color:#FFFFFF;
  margin-top: 10px;
  margin-left: 20px;
}
.number2{
  font-size: 20px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.09em;
  color:#FFFFFF;
  margin-left: 20px;
  margin-top: -15px;
}
.phone-number{
  display: flex;
  gap: 20px;
} 
.phone{
  width: 55px;
  height: 53px;
  margin-top: 20px;
  margin-left: 10px;
}
.footer{
  display: flex;
  margin-top: 10%;
  margin-left: 7%;
  margin-right: 7%;
  justify-content: space-between;
}
.group{
  margin-bottom: 50px;
}
.group-img{
  width: 202.79px;
  height: 148.96px;
}
.last-mail{
  display: flex;
  gap: 20px;
}
.email{
  width: 65px;
  height: 62px;
}
.email-id{
  height: 49px;
  font-size: 20px;
  letter-spacing: 0.09em;
  color: #FFFFFF;
  margin-top: 10px;
}
  .last-phone{
    display: flex;
    gap: 20px;
  }
  .phone1{
    width: 67px;
    height: 65px;
    margin-top: 10px;
}
.number3{
  font-size: 20px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.09em;
  color:#FFFFFF;
}
.number4{
  font-size: 20px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.09em;
  color:#FFFFFF;
  margin-top: -20px;
}


@media only screen and (min-width: 768px) and (max-width: 1024px) {
  
 .menu_content{
  display: none;
 }
 .images {
  display: none;
}

 .menu_bar {
  width: 20px;
  height: 20px;
  margin-top: 12px;
}
.craving_head {
  font-size: 69px;
}
.craving_para {
  width: 45%;
  font-size: 18px;
}
.about {
  font-size: 40px;
}
.about_info {
  gap: 30px;
}
.about_text {
  font-size: 17px;
}
.dough {
  width: 50%;
}
.above_line {
  width: 38%;
}

.menu_text {
  font-size: 20px;
  line-height: 28px;
  }

.menu-head {
  font-size: 35px;
}
.menu-para {
  font-size: 17px;
  line-height: 30px;
}
.menu-list{
  display: flex;
  flex-direction: column;
}
.carsimg {
  width: 83%;
}

.gallary-img1 {
  width: 100%;
  height: 250px;
}
.gallary-img2 {
  width: 98%;
  height: 77px;
}
.gallary-img3 {
  width: 95%;
  height: 120px;
}
.map{
  width: 350px;
  height: 250px;
}
.location-info{
  font-size: 17px;
}
.Find-location{
  gap: 2%
}
.location {
  width: 30px;
  height: 30px;
}
.Address {
  font-size: 10px;
  font-weight: 200;
  margin-top: 7px;
}
.phone {
  width: 30px;
  height: 30px;
  margin-top: 4px;
}
.number1 {
  font-size: 9px;
  font-weight: 200;
  margin-top: -10px;
  margin-left: 0px;
}
.number2 {
  font-size: 10px;
  font-weight: 200;
  margin-top: -40px;
  margin-left: 0px;
}
.email {
  width: 30px;
  height: 34px;
}
.phone1{
  width: 30px;
  height: 30px;
  margin-top: 0px;
}
.group-img {
  width: 150px;
  height: 110px;
}
.number3 {
  font-size: 9px;
  font-weight: 200;
  margin-top: -10px;
}
.number4 {
  font-size: 10px;
  font-weight: 200;
  margin-top: -40px;
}
.email-id{
  font-size: 17px;
 margin-top: 0px;
}

.img_menubar{
  display: block;
}

} 

@media only screen and (min-width: 300px) and (max-width: 500px) {
  
 .menu_content{
  display: none;
 }
 .images {
  display: none;
}
.pizz{
  margin-top: 0px;
}
 .menu_bar {
  width: 20px;
  height: 15px;
  margin-left: 80px;
}
 .craving_para{
  font-size: 13px;
  width: 70%;
  margin-top: 10px;
 }
.craving_head {
  width: 90%;
  font-size: 33px;
}
.line {
  width: 65%;
  height: 6px;
  margin-top: 30px;
}

.about{
  font-size: 25px;
}
.about_line {
 width: 50%;
  height: 7px;
}
.above_line {
  width: 82%;
}
.about_info {
  display: flex;
  flex-direction: column;
}
.about_text{
 width: 100%;
 font-size: 15px;
}
.dough {
  width: 100%;
  height: 280px;
  margin-top: 30px;
}
.menu-list1 {
  display: flex;
  flex-direction: column;
}
.menu-list2 {
  display: flex;
  flex-direction: column;
}
.menu_text {
  font-size: 15px;
  line-height: 23px;
  margin-top: 30px;
}
.menu-head {
  font-size: 25px;
}
.menu-para {
  font-size: 14.5px;
  line-height: 25px;
  letter-spacing: 0.3px;
}
.menu-list{
  display: flex;
  flex-direction: column;
}
.pizza-img1 {
  width: 100%;
}

.carsimg {
  height: 200px;
  margin-top: 10px;
}
.carousel-control-prev{
  margin-left: -2px;
}
.gallary{
  gap: 7px;
}
.gallary-img1 {
  width: 100%;
  height: 200px;
}
.gallary-img2 {
  width: 100%;
  height: 60px;
}
.gallary-img3 {
  width: 100%;
  height: 95px;
}

.location-info{
  font-size: 15px;
  letter-spacing: 0.3px;
  line-height: 20px;
}
.Find-location{
  display: flex;
  flex-direction: column;
}
.location {
  width: 30px;
  height: 30px;
}
.Address {
  font-size: 10px;
  font-weight: 200;
  margin-top: 7px;
}
.phone {
  width: 20px;
  height: 20px;
  margin-top: 4px;
}
.number1 {
  font-size: 9px;
  font-weight: 200;
  margin-top: -10px;
  margin-left: 0px;
}
.number2 {
  font-size: 10px;
  font-weight: 200;
  margin-top: -40px;
  margin-left: 0px;
}
.email {
  width: 30px;
  height: 34px;
}
.phone1{
  width: 30px;
  height: 30px;
  margin-top: 0px;
}

.group-img {
  width: 100px;
  height: 90px;
}
.number3 {
  font-size: 9px;
  font-weight: 200;
  margin-top: -10px;
}
.number4 {
  font-size: 10px;
  font-weight: 200;
  margin-top: -40px;
}
.email-id{
  font-size: 12px;
 margin-top: 5px;
}
.last-mail {
  gap: 10px;
}
.last-phone {
 margin-top: -20px;
}

.img_menubar{
  display: block;
}
}

  
  
  